body{
	font-family: sans-serif;
	
	
}


ul {
	position:fixed;
	width:100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    margin-top: -10px;
    margin-left: -8px;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}

p{
	
	font-size: 1.2vw;
}

h1{
	font-size: 2.2vw;
	
}

a{
	
	font-size: 1vw;
}

.mainDiv{
	
	width: 80%;
    margin: auto;
    padding-top: 10vh;
	
}


.formclass {
	margin: auto;
    width: 50%;
}

button {
    display: block;
    width: 15vw;
    padding: 0.5vw;
    border: none;
    border-radius: 6px;
    color: #fff;
    background-color: #333;
    font: 1.2vw 'Opens Sans', sans-serif;
    letter-spacing: 1px;
    cursor: pointer;
}


textarea {
    display: block;
    z-index: 2;
    margin: 0;
    border: 0.1vw solid #333;
    border-radius: 0;
    color: #333;
    background-color: transparent;
    overflow: auto;
    resize: none;
    transition: transform 1s;
    width: 33vw;
    height: 24vh;
    font-size: 1vw;
    padding: 0.4vh 0.4vw;
}

input {
	display: block;
    z-index: 2;
    margin: 3vh 0vw;
    border: 0.1vw solid #333;
    border-radius: 0;
    color: #333;
    background-color: transparent;
    overflow: auto;
    resize: none;
    transition: transform 1s;
    width: 33vw;
    height: 3vh;
    font-size: 1vw;
    padding: 0.4vh 0.4vw;
}

