body{
	font-family: sans-serif;
	
	
}


ul {
	position:fixed;
	width:100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    margin-top: -10px;
    margin-left: -8px;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}

.mainDiv{
	
	width: 80%;
	margin: auto;
	padding-top: 5vh;
	
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    padding: 4vh 0;
}

footer{
	font-size: 67.6%;
    width: 50%;
    margin: auto;
	
	}

.parafooter{
	
	text-align: center;
}

p{
	
	font-size: 1.2vw;
}

h1{
	font-size: 2.2vw;
	
}

a{
	
	font-size: 1vw;
}


span {
	background-color: #4CAF50;
    padding: 0.2vw 0.3vw 0.1vw 0.3vw;
    font-size: 1.4vw;
    margin: 0vw;
}

.pMiddle{
	
	margin: 2vw;
}






